filebeat.inputs:
- paths:
    - /opt/Axway*/apigateway/groups/group*/instance*/trace/*.trc

  encoding: utf-8
  fields:
      "type": axwayjson
      "log_type": apigw_trace_instance
      "app_name": "axway"
  include_lines: ['^INFO.*\[.*\]\s*\"', '^ERROR.*\[.*\]\s*\"', '^FATAL.*\[.*\]\s*\"', '^DEGUG.*\[.*\]\s*\"' ]

- paths:
    - /opt/Axway-*/apigateway/trace/*

  encoding: utf-8
  fields:
      "type": axwayjson
      "log_type": apigw_trace_nodemanager
      "app_name": "axway"
  include_lines: ['^INFO.*\[.*\]\s*\"', '^ERROR.*\[.*\]\s*\"', '^FATAL.*\[.*\]\s*\"', '^DEGUG.*\[.*\]\s*\"', '^DATA.*\[.*\]\s*\"']


output.elasticsearch:
  hosts: ["https://humio-ingest.prod-int.customer.no:443/api/v1/ingest/elastic-bulk"]
  username: {{ filebeat_username }}
  compression_level: 5
  bulk_max_size: 200
  worker: 1
